/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/
.product-color-variationPlp .slides .slide{
	flex: 16.66666%;
    max-width: 16.666%;
}
.page .entry-header{
	margin: 0px!important;	
}
.footer h2{
	font-family: Oswald, sans-serif!important;
    font-weight: 400!important;
    font-size: 16px!important;
    line-height: 1em!important;
    text-align: left!important;
    color: #fff!important;
}
.copy_right p{
	margin-bottom: 0px;
	margin-top: 10px!important;
}
.fott-add .fl-icon-text > p{
	display:none !important;
}
#menu-copyright-bar-menu{
	display: flex!important;
	width: 100%!important;
	justify-content: center!important;
}
footer .main-footer .fl-row-content-wrap a{
	color: #fff!important;
}
footer .main-footer .fl-row-content-wrap a:hover{
	color: #4f7fa7!important;
}
.postid-402502 .col-md-6.product-swatch{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postid-402502 .col-md-5.product-box,
.postid-402645 .col-md-5.product-box{
	margin-left: auto;
}
.style-product_list #tabcontent-402309.pro-container>.row{
		flex-wrap: nowrap;
}
.style-product_list #tabcontent-402309 .col-md-5 .pro-details .brand-img {
	text-align: center;
}
.postid-402645 .col-md-5.product-box .row .col-md-6:first-child{
	width: 100%;
}
.style-product_list .pro-container .col-md-7{
	width: 58.33333333%;
	margin: 0 auto;
}
.footer a:hover{
	color: #4f7fa7!important;
}
ul.social-icons li {
    margin-bottom: 0px;
}
.footer ul.storename{
	margin-left: 0px!important;
}
.footer_text a:hover {
    color: #db9423!important;
}
.footer_text{
	color: rgba(255,255,255,0.3)!important;
}

.footer_text a{
	color: rgba(255,255,255,0.5)!important;
}
.footer_text > span{
	padding-left: 20px!important;
	display: inline-block!important;
}
.footer_social {
	padding-right: 20px!important;
}
.footer_social .social-icons a i:before {
	font: normal normal normal 22px/1 FontAwesome!important;
}
.footer_social .social-icons a i:hover {
    color: #db9423!important;
}
.site-footer .ast-row{
	margin: 0px!important;
}
.none{
	display: none!important;
}
.site-content #primary{
	margin: 0em 0em;
	padding: 0px 0px!important;
}
.entry-title{
	margin-bottom: 0px;
	display: none!important;
}
.gfield {
    padding-right: 15px!important;
}
.gfield input{
    padding-right: 15px!important;
}
.gfield_time_ampm select{
	padding: 13px!important;
    box-sizing: content-box!important;
}
.gfield_time_hour i{
	display: none!important;
}
#field_23_7 input{
	width: 100%!important;
}

.input100 input{
	width: 100%!important;
}
.btn_style .direction a{
	background-color: #4f7fa7!important;
    color: #ffffff!important;
    border-radius: 50px!important;
	transition: all 0.5s!important;
} 
.btn_style .direction a span{
    color: #ffffff!important;
} 
.btn_style .direction a:hover{
	background-color: #000!important;
}

.opening_hrs .store-opening-hrs li{
	display: flex!important;
	justify-content: space-between!important;
}
#responsive-menu-title {
	display: flex;
	justify-content: center;
}
ul.page-list ul {
    margin-left: 0px!important;
}

.finance_btn a span{
    color: #ffffff!important;
	text-transform: uppercase!important;
}
.finance_btn a{
	    background-color: #4f7fa7!important;
    color: #ffffff!important;
    border-radius: 50px!important;
    line-height: 0.1;
    height: 41px!important;
    transition: all .2s linear;
}

.finance_btn a:hover{
	border-color: #1d1d23!important;
    background-color: #1d1d23!important;
}

.product-variations .slick-slide .color-boxs-inners{
	text-align: center!important;
}

/* bootstarsp  css */


.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after {
    display: table;
    content: " ";
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
.product-detail-layout-5 .product-variations h3{
	padding: 20px 40px;
}

.product-row>div.col-md-4:nth-child(3n+1) {
    clear: left;
}

.container .product-detail-layout-default {
		padding-left: 40px;
		padding-right: 40px;
}
.product-variations .slick-slider .slick-arrow{
	top: 60%;
}

.uabb-gf-style .gform_wrapper form .gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
	padding: 15px 13px!important;
}

.pro-details .brand-img {
	text-align: center;
}

@media (min-width: 992px)
{.col-md-4 {
    width: 33.33333333%;
}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
}

@media (min-width: 768px)
{.col-sm-4 {
    width: 33.33333333%;
}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


@media (min-width: 992px) and (max-width: 1024px){
	.style-product_list #tabcontent-402309.pro-container .pro-details .button-wrapper{
		flex-direction: column;
	}
}

@media (min-width: 768px){
.col-sm-3 {
    width: 25%;
}
	.col-sm-12 {
    width: 100%;
}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
}

.header_phone .storename {
	position: static!important;
    background: #878787!important;
}
.header_phone .storename a{
	padding: 0!important;
}
.header_phone .storename a:hover{
	color: #000!important;
}
/* top bar css  */
.ast-above-header .ast-above-header-section-wrap > div:nth-child(1){
	flex: 0 0 98%;
}
.ast-above-header .ast-above-header-section-wrap > div:nth-child(2){
	flex: 0 0 2%;
}
.ast-above-header .ast-above-header-section-wrap > div:nth-child(1) > div:nth-child(2){
	width: 100%;
    text-align: center;
    position: relative;
}
.ast-above-header .ast-above-header-section-wrap > div:nth-child(1) > div:nth-child(2) > ul{
	justify-content: flex-end!important;
	margin-left: 90px;
}
.ast-above-header .ast-above-header-section-wrap > div:nth-child(1) > div:nth-child(2) ul > li:nth-last-child(1) a{
	/* position: absolute;
    top: 0;
	left: 0; */
	padding: 0px 16px!important;
}

.ast-above-header-menu ul {
	width: auto!important;
}


@media (min-width: 992px){
.col-md-offset-1 {
    margin-left: 8.33333333%;
}
.col-md-5 {
    width: 41.66666667%;
}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
	.col-md-2 {
    width: 16.66666667%;
}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-5 {
    width: 41.66666667%;
}
	.col-md-6 {
    width: 50%;
}
	.col-md-12 {
    width: 100%;
}
	.col-md-2 {
    width: 16.6666666667%;
}
	.col-md-3 {
    width: 25%;
}
}
/* css  for top bar navigation   */
@media (max-width: 1110px)
{
	.ast-above-header .ast-above-header-section-wrap > div:nth-child(1) {
		flex: 0 0 97%;
	}
	.main-header-menu a {
		padding: 0 0.4em!important;
	}
	
}
@media (max-width: 992px)
{
.product-box {
    text-align: center !important;
    margin-top: 20px;
    width: 100% !important;
    float: left !important;
}
	
	
	.site-header .ast-above-header-wrap{
	display: none;
}
.site-header .ast-mobile-menu-buttons{
	display: none;
}
.site-header .ast-masthead-custom-menu-items{
	display: none;
}
.site-header{
	padding: 12px 0px;
}
	#responsive-menu-additional-content a,.phone{
		color: #fff!important;
		padding-left: 10px!important;
	}
	.privacy-policy-row .phone{
		color: #000!important;
	}
	#responsive-menu-additional-content i{
		    font-size: 14px!important;
    		padding-left: 20px;
	}
	#responsive-menu-additional-content{
		padding: 4px 12px!important;
	}
	
	#product-attributes-wrap .product-attributes{
		width: 90%!important;
        margin: 0 auto!important;
	}
}
@media (max-width: 768px) and (min-width: 763px){
	.site-footer .ast-small-footer-section-1{
		text-align: left!important;
	}
}
@media (max-width: 768px){
	
	.fl-node-5e4cf5a7ced2b .uabb-creative-button-wrap a, .fl-node-5e4cf5a7ced2b .uabb-creative-button-wrap a:visited{
		padding-left: 0px;
		padding-right: 0px;
	}

	.product-box .button-wrapper{
		display:flex;
		align-items:center;
		justify-content: center;
		flex-direction:column;
	}
	.product-variations .slick-track{
		margin: 0 auto;
	}
	.max_500{
		max-width: 500px!important;
	}
	article .single-layout-1 .entry-title{
		font-size: 2em!important;
	}
	.ast-col-sm-12{
		width: 100%;
	}
	.area_rug_menu{
		padding-left: 15%!important;
	}
	.home_page_slider .fl-slide-content{
		padding: 0px!important;
	} 
	.home_page_slider .uabb-heading > span.uabb-heading-text{
		font-size: 28px!important;
	}
	.home_page_slider .fl-slide-text .uabb-heading > span.uabb-heading-text{
		font-size: 26px!important;
	} 
	.home_page_slider .fl-slide-text h3.uabb-heading > span.uabb-heading-text{
		font-size: 26px!important;
	} 
	.btn_width_issue a{
		width: 300px!important;
    	padding: 16px 0px!important;
		line-height: 1.2em!important;
	}
	.search_result h1{
		font-size: 30px!important;
	}

	
}
.ast-single-post-order .entry-title{
	display: block!important;
}
ul.page-list {
	margin-left: 0px!important;
}
a.getcoupon-btn {
    border-top-left-radius: 50px!important;
    border-top-right-radius: 50px!important;
    border-bottom-left-radius: 50px!important;
	border-bottom-right-radius: 50px!important;
	background-color: #4f7fa7!important;
	padding: 8px 35px!important;
	margin-bottom: 0px!important;
}
a.getcoupon-btn span{
	color: #fff!important;
}
a.getcoupon-btn:hover{
    background-color: #000!important;
}
.search_result a.getcoupon-btn {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	color: #fff!important;
	background-color: #4f7fa7!important;
	padding: 8px 35px!important;
	margin-bottom: 20px!important;
}
.search_result a.getcoupon-btn:hover{
    background-color: #000!important;
}
.search_result .plp-view-product{
	margin-top: 10px!important;
}
.search_result .page-title{
	padding-left: 20px!important;
}
/* single blog css*/
article .single-layout-1 {
    max-width: 1170px;
	margin: 0 auto;
	margin-top: 30px;
}
article .single-layout-1 .entry-title{
	padding-left: 0px!important;
	font-size: 3em!important;
}


.slick-list,.draggable{
	width: 100%;
}
.slick-track{
	width: 100%;
}
#field_24_7,#field_24_2{
	padding-right: 0px!important
}
#input_24_8_3{
 box-sizing: content-box!important;
}
#input_24_7{
 width: 100%;
}

.entry-title{
	padding-left: 12px;
}

.page .entry-header {
    margin-bottom: 0em!important;
}
.header_phone {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_phone ul {
    margin: 0px!important;
}
.header_phone ul a span:before {
    content: '\f095';
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
	margin-right: 4px!important;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
}
.sitemap ul{
	list-style: none;
	text-align:center;
} 
.storename  p {
    margin-bottom: 0px!important;
}

#field_24_9{
	width: 50%;
    float: right;
}
.ui-datepicker-trigger{
	display: none!important;
}

/* #responsive-menu-additional-content a:before{
	content: '\f095';
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
	margin-right: 4px!important;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg);
	-ms-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	-o-transform: rotate(15deg);
} */

.menu-item-437829 a{
    background-color: #4f7fa7;
    color: #ffffff!important;
    border-radius: 50px;
    line-height: 0.1;
    padding: 4px 35px;
    height: 41px!important;
       transition: all .2s linear;
}
.menu-item-437829 a:hover{
    color: #ffffff;
    border-color: #1d1d23;
    background-color: #1d1d23;

}
@media (max-width: 640px){
	.produ_int{
		width: 100%!important;
	}
	.container .product-detail-layout-default {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 599px){
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
		clear: none !important;
	}
	.facetwp-template .product-grid .product-row>.col-md-4:nth-child(2n+1) {
    	clear: left !important;
	}
	.list_style ul, .list_style ol{
		padding-left: 0px!important;
		margin-left: 0px!important;
	}
}

@media (max-width: 479px){
.facetwp-template .product-grid .product-row>.col-md-4 {
    width: 100%;
    clear: left !important;
}
}
@media (max-width: 425px){
.col-xs-12 {
    width: 100%;
}
}